body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;


}

main {
    background-color: white;
    width: 288px;
    border-radius: 20px;
    padding: 16px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

  img:hover{
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rotate 2s linear forwards;
    transform: translateZ(-25px);
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg) translateZ(-25px);
    }
    100% {
      transform: rotateY(360deg) translateZ(-25px);
    }
  }


h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    padding-top: 24px;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    color: #7D889E;
    padding: 16px 16px 24px;
}