body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;


}

main {
    background-color: white;
    width: 288px;
    border-radius: 20px;
    padding: 16px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    padding-top: 24px;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    color: #7D889E;
    padding: 16px 16px 24px;
}